.about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.about-img {
  margin-right: 20px;
  width: 100px;
}

.about-info {
  display: flex;
  flex-direction: column;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
}
