body {
  background-color: #51A0D5;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.menu {
  background-color: #111;
  padding: 0;
}
ul.menu li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

ul.menu li.selectedTab a {
  color: darkgrey;
}
