.pokemon-card {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 10px;
}

.pokemon-img {
  margin-right: 20px;
  width: 100px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
}
